@import '../main.scss';

html,
body,
#root,
.app {
    height: 100%;
}

body {
    background-color: $background-color;
}

.app {
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    justify-content: center;

    &.modal-open {
        overflow-y: hidden;
    }
}
