@import '../main.scss';

.level-card {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25em;
    color: $white-color;
    font-family: sans-serif;
    background: $message-color;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.level {
    position: relative;
    overflow: hidden;
}

.entity {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.entity-text {
    line-height: 1em;
    margin: 0;
    padding: 0;
}
