@import '../main.scss';

.level-card {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.25em;
    color: $white-color;
    font-family: sans-serif;
    background: $message-color;

    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.level-card-tail {
    fill: $message-color;
    position: absolute;
    top: 100%;
    width: 2rem;
    left: 100%;
    transform: translate(-50%, -100%);
}

.level {
    position: relative;
    overflow: hidden;
}

.level-caption {
    min-width: 100%;
    max-width: 0;
}

.entity {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.entity-text {
    line-height: 1em;
    margin: 0;
    padding: 0;
}
