@import '../main.scss';

.game-grid {
    position: relative;
    overflow: hidden;
}

.entity {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.entity-text {
    line-height: 1em;
    margin: 0;
    padding: 0;
}