@import '../main.scss';

.game-grid {
    background: white;
    width: 900px;
    height: 900px;
    position: relative;
    overflow: hidden;
}

.entity {
    background: goldenrod;
    position: absolute;
}