$background-color: #1e1e1e;
$gray-color: rgb(58, 58, 60);
$message-color: #3c83f7;
$white-color: #f4f0f0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
